<!DOCTYPE html>
<html>
  <head>
    <title>Mental Health Virtual Assistant</title>
    
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
      
  </head>
  <body>
    <h2>How are you feeling today?</h2>
    
      <div id="chatBox">
        <input id="userInput" placeholder="Type your message...">
        
        <button onclick="sendMessage()" class="btn">Send</button>

        <div id="messageHistory"></div>
      </div>

      

      <button type="button" class="btn" onclick="clearChat()">
          Clear Chat!
      </button>
      <script src="{{ url_for('static', filename='script.js') }}"></script>

      <div class="info-box">
        <h3>Find Relaxation Techniques with ChatGPT</h3>

        <button class="btn" onclick="window.open('https://chat.openai.com/', '_blank')">
          Message ChatGPT
        </button>
        
        <p>Feeling stressed? You can ask ChatGPT to recommend relaxation methods
          like breathing exercises, guided meditations, or mindfulness practices. Just type in how you're feeling, and get personalized tips instantly.</p>
      </div>
    
  </body>
</html>